<!--detaill-->
<h3 style="text-align: center;margin-bottom: 25px;">  Details Biologiste </h3>
<div style="margin-left: 20px;
margin-right: auto;
">
  <div>
      <label> <b> CODE Patient: </b></label> {{biologisteDet.codeBiologiste}}
  </div>
  <div>
      <label> <b> NOM: </b></label> {{biologisteDet.nom}}
  </div>
  <div>
      <label> <b> PRENOM: </b></label> {{biologisteDet.prenom}}
  </div>
  <div>
      <label> <b> EMAIL: </b></label> {{biologisteDet.email}}
  </div>
  <div>
      <label> <b> SEXE: </b></label> {{biologisteDet.sexe}}
  </div>
  <div>
      <label> <b> SERVICE: </b></label> {{biologisteDet.service}}
  </div>
  <div>
      <label> <b>NOM DEPARTEMENT: </b></label> {{biologisteDet.departement?.nomDepartement}}
  </div>
  <div>
      <label> <b> TELEPHONE: </b></label> {{biologisteDet.telephone}}
  </div>
</div>


