<!--detaill-->
<h3 style="text-align: center;margin-bottom: 25px;">  Details Resultat </h3>
<div style="margin-left: 20px;
margin-right: auto;
">

  <div>
      <label> <b> CODE Patient: </b></label> {{patientDt.codePatient}}
  </div>
  <div>
      <label> <b> NOM: </b></label> {{patientDt.nom}}
  </div>
  <div>
      <label> <b> PRENOM: </b></label> {{patientDt.prenom}}
  </div>
  <div>
      <label> <b> EMAIL: </b></label> {{patientDt.email}}
  </div>
  <div>
      <label> <b> CIN: </b></label> {{patientDt.cni}}
  </div>
  <div>
      <label> <b> SEXE: </b></label> {{patientDt.sexe}}
  </div>
  <div>
    <label> <b> DATE NAISSANCE: </b></label> {{patientDt.dateNaissance | date: 'dd/MM/yyyy'}}
</div>
  <div>
      <label> <b> ADRESSE: </b></label> {{patientDt.adressse}}
  </div>
  <div>
      <label> <b> TELEPHONE: </b></label> {{patientDt.telephone}}
  </div>
 
</div>
    


