<!--detaill-->
<h3 style="text-align: center;margin-bottom: 25px;">  Details Preleveur </h3>
<div style="margin-left: 20px;
margin-right: auto;
">
  <div>
      <label> <b> NOM: </b></label> {{preleveurDt.nom}}
  </div>
  <div>
      <label> <b> PRENOM: </b></label> {{preleveurDt.prenom}}
  </div>
  <div>
      <label> <b> EMAIL: </b></label> {{preleveurDt.email}}
  </div>
  <div>
      <label> <b> SEXE: </b></label> {{preleveurDt.sexe}}
  </div>
  <div>
      <label> <b> SPECIALITE: </b></label> {{preleveurDt.specialite}}
  </div>
  <div>
      <label> <b>DESCRIPTION D'ANALYSE: </b></label> {{preleveurDt.analyseMedical?.descriprtion}}
  </div>
  <div>
      <label> <b> TELEPHONE: </b></label> {{preleveurDt.telephone}}
  </div>
</div>



