<!--detaill-->
<h3 style="text-align: center;margin-bottom: 25px;">  Details Labo </h3>
<div style="margin-left: 20px;
margin-right: auto;
">

  
  <div>
      <label> <b> NOM Labo: </b></label> {{laboDt.nomLabo}}
  </div>
  <div>
      <label> <b> CodeFiscal: </b></label> {{laboDt.codeFiscal}}
  </div>
  <div>
      <label> <b> EMAIL: </b></label> {{laboDt.email}}
  </div>
  <div>
      <label> <b> Telephone: </b></label> {{laboDt.numTel}}
  </div>
  <div>
      <label> <b> SiteWeb: </b></label> {{laboDt.siteWeb}}
  </div>

 
</div>
