<!--detaill-->
<h3 style="text-align: center;margin-bottom: 25px;">  Details Employe </h3>
<div style="margin-left: 20px;
margin-right: auto;
">
  
  <div>
    <label> <b> NOM: </b></label> {{employeDt.nom}}
 </div>
<div>
    <label> <b> PRENOM: </b></label> {{employeDt.prenom}}
</div>
<div>
    <label> <b> EMAIL: </b></label> {{employeDt.email}}
</div>
<div>
    <label> <b> PASSWORD: </b></label> {{employeDt.password}}
</div>
<div>
    <label> <b> CIN: </b></label> {{employeDt.cin}}
</div>
<div>
    <label> <b> ADRESSE: </b></label> {{employeDt.adresse}}
</div>
<div>
    <label> <b> TELEPHONE: </b></label> {{employeDt.telephone}}
</div>
<div>
    <label> <b> SALAIRE: </b></label> {{employeDt.salaire}}
</div>

  <div>
      <label> <b> DATE EMBAUCHE: </b></label> {{employeDt.date_embauchDate}}
  </div>
  <div>
      <label> <b> LABO: </b></label> {{employeDt.labo?.nomLabo}}
  </div>
</div>



