<div class="col">
    <div class="row m-3 mr-2 ">
        <div class="col-md-6 p-0">
        <h1>liste des clients</h1>
        </div>
        <div class="col-md-6 text-right">
            <app-boutton-action
            (clickEvent)="nouveauPatient()"
            (clickEvent1)="exportePatient()"
            ></app-boutton-action>
            <div class="row col-md-12 alert alert-danger" *ngIf="errorMsgs">
                {{ errorMsgs }}
              </div>
        </div>
    </div>
    <div class="col m-3">
           <app-detail-patient 
           *ngFor="let patient of listepatient"
           [patientdto]="patient"
           (suppressionPatient)="handleSuppression($event)"

           ></app-detail-patient>
    </div>
    </div>
    <div class="row mb-3" >
        <div class="col md-12 text-center">
<app-pagination></app-pagination>
</div>
    </div>



