<div style="border: black;">
    <button (click)="exportexcel()" class = "btn btn-info">Export to Excel</button>
    <table class="table table-hover" id="excel-table">
        <thead class="thead-dark"></thead>
      <tr>
        <th scope="col">NOM ET PRENOM </th>
        <th scope="col">DESCRIPTION</th>
        <th scope="col">DATE ANALYSE</th>
        <th scope="col">VALEUR</th>
        
      </tr>
      <tr *ngFor="let item of listeResult"
      [detailResultatDT]="item">
        <td scope ="row">{{item.biologiste?.nom}} {{item.biologiste?.prenom}}</td>
        <td scope ="row">{{item.description}}</td>
        <td scope ="row">{{item.analyseMedical?.dateAnalyse}}</td>
        <td scope ="row">{{item.valeur}}</td>
        
       
      </tr>
    
    </table>
  </div>

