
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>page pricipal</title>
   </head>
   <body>
    <header >
          <div class="col-md-3" style="height: 5px ;  width: 5px; ">
             <img src="../assets/imgs/lg.png" class="rounded-circle"/>
          </div>
          <div>
             <ul class="pull-right right-menu">
                <!-- <li><a routerLink="/login">Admin</a></li>
                <li><a routerLink="/register">User</a></li> -->
                <li>Non connecté. (<a routerLink="/login">Connexion </a> )</li>
             </ul>
          </div>
    </header> <br>
    <marquee behavior="scroll" direction="right" height="100px" >
      <h1 >Gestion d'un laboratoire des analyses medicales </h1>
    </marquee>

      <div class="wrapper" >
      <section id="fh5co-hero" class="js-fullheight" >
          <div class="container">

            <div  class="khalid">
              <img src="../assets/imgs/img2.jpg"   class="rounded"  style="width:1500px;; height: 600px;" />
            </div>


            <hr style=" border: 3px solid red; ">
          <div >
            <p style=" color: black;">Les laboratoires sont des zones
              opérationnelles médicales qui ont besoin de clarté et de précision.
              Comme le besoin en la matière augmente de jour en jour,
              le facteur de gestion doit être développé. L'approche en cette ère de
              situations pandémiques prévalant dans les laboratoires a ouvert la voie
              à la collecte efficace d'échantillons de sang et de plasma. Comme ces
              zones peuvent être une zone contaminée importante, l'arrivée des patients
              ainsi que la gestion du personnel doivent se faire sur la base de règles
              de fonctionnement intactes. <br>
              Les logiciels de planification des ressources et des entreprises (ERP)
              peuvent être une solution appropriée pour la gestion automatisée efficace
              d'un laboratoire. En raison des progrès technologiques, de nombreuses
              entreprises et organisations commerciales se tournent vers ces types
              de logiciels qui pourraient non seulement automatiser les opérations
              de gestion, mais aussi faire fonctionner l'ensemble de l'entreprise. <br>
              Les ERP peuvent être classés en deux types, les ERP à source ouverte
              et les ERP fermés. Les ERP à source ouverte sont considérés comme les
              plus avantageux car ils disposent d'une méthodologie de partage de
              l'information qui permet de développer les différentes besoins des clients
            </p>
          </div>


            <div class="row">
              <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                <img
                  src="../assets/imgs/img2.jpg"
                  class="w-100 shadow-1-strong rounded mb-4"
                  alt="Boat on Calm Water"
                />

                <img
                  src="../assets/imgs/img2.jpg"
                  class="w-100 shadow-1-strong rounded mb-4"
                  alt="Wintry Mountain Landscape"
                />
              </div>

              <div class="col-lg-4 mb-4 mb-lg-0">
                <img
                  src="../assets/imgs/img2.jpg"
                  class="w-100 shadow-1-strong rounded mb-4"
                  alt="Mountains in the Clouds"
                />

                <img
                  src="../assets/imgs/img2.jpg"
                  class="w-100 shadow-1-strong rounded mb-4"
                  alt="Boat on Calm Water"
                />
              </div>

              <div class="col-lg-4 mb-4 mb-lg-0">
                <img
                  src="../assets/imgs/img2.jpg"
                  class="w-100 shadow-1-strong rounded mb-4"
                  alt="Waves at Sea"
                />

                <img
                  src="../assets/imgs/img2.jpg"
                  class="w-100 shadow-1-strong rounded mb-4"
                  alt="Yosemite National Park"
                />
              </div>
            </div>


            <!-- <section>
            <div class="responsive">
              <div class="gallery">
                <a target="_blank" href="../assets/imgs/img2.jpg">
                  <img src="../assets/imgs/img2.jpg" alt="Cinque Terre" >
                </a>

              </div>
            </div>

            <div class="responsive">
              <div class="gallery">
                <a target="_blank" href="../assets/imgs/img2.jpg">
                  <img src="../assets/imgs/img2.jpg" alt="Forest" >
                </a>
              </div>
            </div>

            <div class="responsive">
              <div class="gallery">
                <a target="_blank" href="../assets/imgs/img2.jpg">
                  <img src="../assets/imgs/img2.jpg" alt="Northern Lights" >
                </a>
              </div>
            </div>

            <div class="responsive">
              <div class="gallery">
                <a target="_blank" href="../assets/imgs/img2.jpg">
                  <img src="../assets/imgs/img2.jpg" alt="Mountains" >
                </a>
              </div>
            </div>
          </section> -->



            <div>
            <h1>Rendez-vous</h1>
            <hr style=" border: 3px solid red; ">
            <b style="color: black ; font-style: italic;">Les laboratoires peuvent être une source importante de propagation des maladies
              contagieuses, il est donc toujours préférable de limiter le nombre de patients
              dans les locaux. La fonctionnalité de rendez-vous peut être mise en pratique puisque,
              en fournissant des rendez-vous à un moment précis pour chaque patient, on limitera les
              flux d'entrée dans une instance. Cette méthode de rendez-vous est tout au plus bénéfique
              à l'heure où la pandémie de COVID 19 sévit dans le monde. La plateforme Odoo permet aux
              clients de l'entreprise ou du laboratoire de prendre leurs rendez-vous en ligne via le site
              web de l'entreprise. Les courriels et les appels téléphoniques peuvent également garantir que
              les rendez-vous sont pris. En outre, la plateforme permet à ses utilisateurs d'envoyer des
              messages textes ou des courriels aux clients sur la confirmation des rendez-vous.</b>

          </div>
          <div>
            <h1>Informations des patients</h1>
            <hr style=" border: 3px solid red; ">
            <b style="color: black ; font-style: italic;">L'obtention et la conservation des informations sur les patients seront
            effectivement bénéfiques pour le laboratoire pour les opérations futures. Cette base de données pourrait offrir
            aux utilisateurs l'avantage supplémentaire de connaître l'histoire du patient et son diagnostic. Des informations
            de base sur la santé et des détails personnels ainsi que des informations de contact pourraient être enregistrés
            dans cette base de données. Le module de gestion du laboratoire Odoo offre aux utilisateurs l'avantage supplémentaire
            d'une fenêtre séparée pour stocker et visualiser tous les patients.</b>
          </div>


          <div>
            <h1>Test unitaires et résultats</h1>
            <hr style=" border: 3px solid red; ">
            <b>Dans le cas d'un laboratoire, le produit final est le résultat des tests qui doivent être calculés et générés en fonction
              de diverses spécifications et caractéristiques médicales. La plateforme Odoo permet aux utilisateurs de configurer différentes
              unités de test dans la plateforme. Cela les aidera à fournir des résultats précis de diverses mesures. Il peut s'agir
              des niveaux de sang et d'autres liquides, des niveaux de pression, du cholestérol, du nombre de plaquettes, etc.
              La configuration de ces unités aidera les utilisateurs à la configurer pour les différents tests spécifiques
              du laboratoire qui détecteront les attributs respectifs du patient</b>
          </div>

          <div>
            <h1>Facturation</h1>
            <hr style=" border: 3px solid red; ">
            <b>La facturation dans une installation de laboratoire peut être effectuée sur la base du coût de chaque test effectué. Les tests
            de laboratoire dans Odoo peuvent être spécifiés dans la fenêtre de test de laboratoire,
            permettant ainsi de définir les attributs et le coût des tests respectifs. Les factures
            peuvent être générées directement en incluant le coût du laboratoire et les frais de
            service éventuels ainsi que les différentes taxes impliquées. Ces factures peuvent être
            envoyées au client avec les résultats des tests par courrier électronique ou peuvent
            être remises sur papier.

            Le module de comptabilité d'Odoo permet de recevoir les paiements selon différentes
            méthodes telles que le paiement direct, les acomptes avec frais fixes ou un pourcentage
            fixe.</b>
          </div>
                  <div>
                      <h1>Gestion des ressources humaines</h1>
                      <hr style=" border: 3px solid red; ">
                      <b>La gestion des employés est un aspect important dans toute organisation, la plateforme
                      ERP inculquée avec un système efficace de gestion des RH. La plate-forme permet aux
                      utilisateurs de contrôler et de surveiller toutes les opérations de la gestion des
                      ressources humaines, du recrutement à la paie de chaque employé. L'outil d'Odoo permet
                      aux utilisateurs de spécifier les compétences, les capacités, les qualifications à la fois
                      éducatives et professionnelles dans les bases de données et d'affecter en conséquence
                      un employé aux départements ou aux postes de travail respectifs. Le logiciel Odoo permet
                      de gérer efficacement les équipes de médecins, d'infirmières, de techniciens de laboratoire
                      et de personnel supplémentaire dans un laboratoire.</b>
                  </div>
          </div>
        </section>
      </div>
      <footer>
        <b>ERP gestion d'un laboratoire d'analyse médicale 2023 kh-abba,m-ait hrammou et h-bertal   </b>
      </footer>
   </body>
</html>
