<div class="col">
    <div class="col-md-12 mb-3 mt-3">
        <img src="assets/menu/assets/img/reservation.svg"  class="rounded-circle" width="200px" height="200px">
    </div>
    <div class="col-md-12">
        <div class="col-md-12">
            <h3><i class="fas fa-info-circle blue-color"></i>&nbsp;Information pour Reservation</h3>
        </div>
        <div class="col-md-8">
          <div class="alert alert-danger" *ngIf="errorMsg.length > 0">
            <div *ngFor="let msg of errorMsg">
              <span >{{msg}}</span>
            </div>
          </div>
            <form>
                <div class="row">
                  <div class="col  mb-3 ">
                    <input type="text" class="form-control" placeholder="desciption"  name="desReservation" [(ngModel)]="reservationDTo.description">
                  </div>
                  </div>
                  <div class="row">
                  <div class="col mb-3" >
                    <label for="date">Date reservation</label>
                    <input class="form-control" id="date" type="date" placeholder="date reservation" id="example-date-input"  name="datReservation" [(ngModel)]="reservationDTo.dateReservation">
                  </div>
                  </div>
                  <div class="row">
                  <div class="col mb-3">
                    <label for="Patients">Patients</label>
                    <select class="form-control" id="Patients" name="pat" [(ngModel)]="patientDt.idPatient">
                        <option *ngFor="let pat of listepatient" [value]="pat.idPatient">{{pat.nom}} - {{pat.prenom}} </option>              
                        
                      </select>
                  </div>
                </div>
              </form>
        </div>
    </div>
    <div class="col-md-12 text-right">
        <button class="btn btn-danger mr-3" (click)="cancel()">
          <i class="fas fa-ban"></i>&nbsp;
          Annuler
        </button>
        <button class="btn btn-primary"  (click)="enregistrerReservation()" >
          <i class="fas fa-save"></i>&nbsp;
          Enregitrer
        </button>
      </div>
</div>







