<div class="col">
    <div class="row m-3 mr-2 ">
        <div class="col-md-6 p-0">
        <h1>liste des preleveurs</h1>
        </div>
        <div class="col-md-6 text-right">
            <app-boutton-action
            (clickEvent)="nouveauPreleveur()"

            ></app-boutton-action>
        </div>
    </div>
    <div class="col m-3">
        <div class="row col-md-12 alert alert-danger" *ngIf="errorMsgs">
            {{ errorMsgs }}
          </div>
     <app-detail-preleveur
     *ngFor ="let preleveur of listePreleveur"
     [preleveurDto]="preleveur"
     (suppressionPreleveur)="handleSuppression($event)"
     ></app-detail-preleveur>
    </div>
    <div class="row mb-3">
        <div class="col md-12 text-center">
<app-pagination></app-pagination>
</div>
    </div>

</div>


