<div class="row mb-1 mr-0 custom-border">
    <div class="col-md-1 custom-border-right p-1 text-center ">
        <img src="assets/menu/assets/img/detail resultat.jpg" width="75px" height="75px">
    </div>
<!--detail reservation-->
<div class="col-md-4 custom-border-right mb-1 mt-1 ">
    <div class="col">
           <div class="row">
            <div class="col-md-1"><i class="far fa-info-circle blue-color"></i></div>
            <div class="col-md-10">{{detailResultatDTo.biologiste?.nom}} {{detailResultatDTo.biologiste?.prenom}}</div>
        </div>
        <div class="row">
            <div class="col-md-1"><i class="far fa-info-circle blue-color"></i></div>
            <div class="col-md-10">{{detailResultatDTo.valeur4}}</div>
        </div>
        <div class="row">
            <div class="col-md-1"><i class="far fa-info-circle blue-color"></i></div>
            <div class="col-md-10">{{detailResultatDTo.valeur1}}</div>
        </div>
        <div class="row">
            <div class="col-md-1"><i class="far fa-info-circle blue-color"></i></div>
            <div class="col-md-10">{{detailResultatDTo.valeur2}}</div>
        </div>
        <div class="row">
            <div class="col-md-1"><i class="far fa-info-circle blue-color"></i></div>
            <div class="col-md-10">{{detailResultatDTo.valeur3}}</div>
        </div>
        <div class="row">
            <div class="col-md-1"><i class="far fa-info-circle blue-color"></i></div>
            <div class="col-md-10">{{detailResultatDTo.valeur5}}</div>
        </div>
       
        </div>
    </div>
<!--detail type--->
<div class="col-md-4 custom-border-right mb-1 mt-1 ">
    <div class="row">     
                <div class="col-md-2"><i class="fas fa-calendar-check blue-color"></i></div>
                <div class="col-md-1O">{{detailResultatDTo.analyseMedical?.dateAnalyse |  date: 'dd/MM/yyyy'}}</div>
            </div>
            <div class="row">
                <div class="col-md-1"><i class="far fa-info-circle blue-color"></i></div>
                <div class="col-md-10">{{detailResultatDTo.valeur6}}</div>
            </div>
            <div class="row">
                <div class="col-md-1"><i class="far fa-info-circle blue-color"></i></div>
                <div class="col-md-10">{{detailResultatDTo.valeur7}}</div>
            </div>
            <div class="row">
                <div class="col-md-1"><i class="far fa-info-circle blue-color"></i></div>
                <div class="col-md-10">{{detailResultatDTo.valeur8}}</div>
            </div>
            <div class="row">
                <div class="col-md-1"><i class="far fa-info-circle blue-color"></i></div>
                <div class="col-md-10">{{detailResultatDTo.valeur9}}</div>
            </div>
            <div class="row">
                <div class="col-md-1"><i class="far fa-info-circle blue-color"></i></div>
                <div class="col-md-10">{{detailResultatDTo.valeur10}}</div>
            </div>
    </div>

    <div class="col-md-3 mb-1 mt-1">
        <div class="row">
            <div class="col-md-4">
                <button type="button" class="btn btn btn-link"  (click)=" modifierResultat()">
                    <i class="fas fa-pencil-alt"></i>&nbsp;modifier</button>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn btn-link text-danger" data-toggle="modal" [attr.data-target]="'#modalDeleteResultat' + detailResultatDTo.idResultat">
                    <i class="fas fa-trash-alt"></i>&nbsp;supprimer</button>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn btn-link" (click)=" detailResultat()">
                    <i class="fas fa-list-alt"></i>&nbsp;Details</button>
            </div>

        </div>
    </div>
    
</div>
<!-- Modal -->
<div class="modal fade" id="modalDeleteResultat{{detailResultatDTo.idResultat}}" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Confirmation</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            Etes vous-sur de vouloir supprimer cette resultat?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" >
              <i class="fas fa-ban"></i>&nbsp;Annuler</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal" (click) ="confirmerEtSupprimerResultat()">
              <i class="fas fa-trash-alt"></i>&nbsp;Supprimer</button>
          </div>
      </div>
    </div>
  </div>
